<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>ROCSAUT Booth Website</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
      
    <!-- child template -->
    {% block content %}{% endblock %}
 
    <footer class="footer">
        <p>&copy; ROCSAUT 2017</p>
    </footer>
        
    </div>
</body>
 
</html>