<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>ROCSAUT Booth Website</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
 
 
</head>
 
<body>
 
    <div class="container">
      
    <!-- child template -->
    {% block content %}{% endblock %}
 
    <footer class="footer">
        <p>&copy; ROCSAUT 2017</p>
    </footer>
        
    </div>
</body>
 
</html>