{% extends "base.html" %}
{% block content %}

<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a>
            </li>
            <li role="presentation"><a href="/login">Log In</a>
            </li>
            <li role="presentation" class="active"><a href="/signup">Sign Up</a>
            </li>
        </ul>
    </nav>
    <h3 class="text-muted">U of T ROCSAUT</h3>
</div>
{% for message in get_flashed_messages() %}
<h4>{{ message }}</h4>
{% endfor %} 
<div class="jumbotron">
    <h1>ROCSAUT Booth</h1>
    <p class="lead"></p>      

    <p><a class="btn btn-lg btn-success" href="/signupMember" role="button">Member Sign Up</a>
    </p>
    <p><a class="btn btn-lg btn-success" href="/signupStaff" role="button">Staff Sign Up</a>
    </p>
</div>

{% endblock %}





