{% extends "base.html" %}
{% block content %}

<div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" ><a href="/">Home</a></li>
        <li role="presentation"><a href="/login">Log In</a></li>
        <li role="presentation" class="active"><a href="/signup">Sign Up</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">ROCSAUT Booth</h3>
    </div>
    
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    <div class="jumbotron">
    <h1>ROCSAUT Member</h1>
    <form class="form-signin" action="" method="post">
        <input type="integer" placeholder="Card Number" name="cardnum" class="form-control"  value="{{request.form.cardnum }}" required autofocus>
        <input type="text" placeholder="First Name" name="fname" class="form-control"  value="{{request.form.fname }}" required autofocus>
        <input type="text" placeholder="Last Name" name="lname" class="form-control"  value="{{request.form.lname }}" required autofocus>
        <input type="text" placeholder="Program" name="program" class="form-control"  value="{{request.form.program }}" required autofocus>
        <input type="text" placeholder="Email" name="email" class="form-control"  value="{{request.form.email }}" required autofocus>
        <input type="integer" placeholder="Year" name="year" class="form-control"  value="{{request.form.year }}" required autofocus>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
    </form>
</div>
 
       
 
{% endblock %}